# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
{% for router in router_configuration %}
auto {{ router.iface }}
iface {{ router.iface }} inet static
  address {{ router.address}}
  gateway 200.2.96.254
  netmask 255.255.255.0
  broadcast 200.2.96.255
{% endfor %}


auto eth1
iface eth1 inet static
  address 192.168.1.254
  subnet 255.255.255.0
  broadcast 192.168.1.255
