{% extends "base.html" %}
{% block title %}User Summary{% endblock %}
{% block content %}
	<h2>Summary of {{ user_info.name }}'s Holdings </h2>
  <p><em>Brokerage Balance: {{ user_info.balance }}</em></p>
	<p>Password: {{ user_info.password }}</p>
	<form action="user?name={{ user_info.name }}" method="post">
		<p>New Password:  <input type="text" name="password"></p>
		<p><input type="submit"></p>
	</form>
	<form action="user?name={{ user_info.name }}" method="post">
		{% if user_info.isAdmin %}
		<p>Admin:  <input type="checkbox" name="admin" checked="true">
		{% else %}
		<p>Admin:  <input type="checkbox" name="admin">
		{% endif %}
		<input type="submit"></p>
	</form>
	<form action="user?name={{ user_info.name }}" method="post">
		<input type="hidden" name="action" value="drop">
		<input type="submit" value="Remove User">
	</form>
	<table>
	<tr><td>Stock Name</td><td>Amount Owned</td><td>Stock Symbol</td><td>Stock Price</td></tr>
	{% for stock in stock_holdings %}
		<tr><td>{{ stock[1].name}}</td><td>{{ stock[0].ownings }}</td><td>{{ stock[1].symbol }}</td><td>{{ stock[1].price }}</td></tr>
	{% endfor %}
	</table>
{% endblock %}  
